.grid {
    display: grid;
    grid-template: repeat(4, 160px) / repeat(5,160px);
    text-align: center;
    grid-gap: 5px;

    margin: 0;
}

.grid div {
    border:1px solid black;
}

div img {
    width: 110px;
    height: 110px;
}

figure {
    margin-left: 25px;
}

.item_9 {
    grid-row: 2/4;
    grid-column: 4/6;
}

.item_10 {
    grid-row: 3/5;
    grid-column: 1/3; 
}

.item_9 img {
    width: 270px;
    height: 270px;
}

.item_10 img { 
    width: 270px;
    height: 270px;
}