@keyframes anim {
    0% {
    opacity: 1;
    }
    20% {
    opacity: 1;
    }
    40% {
    opacity: 0;
    }
    100% {
    opacity: 0;
    }
}

img {
    border: 5px black solid;
    position: absolute;
    height: 600px;
    width: 700px;
    opacity: 0;
    animation: anim 5s infinite;
}

.anim1 {
    animation-delay: 1s; 
    }
.anim2 {
    animation-delay: 2s;
    }
.anim3 {
    animation-delay: 3s;
    }
.anim4 {
    animation-delay: 4s;
    }
.anim5 {
    animation-delay: 5s;
    }

h1 {
    color:  rgb(115, 203, 188);
    text-align: center;
    animation: h1 4s linear infinite;
}
@keyframes h1 {
    0% {
    opacity: 0;
    }
    50% {
    opacity: 0.8;
    }
    100% {
    opacity: 0;
    }
}