.div{
    margin: auto;
    width: 300px;
    height: 300px;
    font-size: 20px;
    text-indent: 25px;
    color: black;
    transition: color linear  5s;
}
.div:hover{
    color: red;
}

h1 {
    color: rgb(115, 203, 188);
    text-align: center;
    animation: h1 4s linear infinite;
}
@keyframes h1 {
    0% {
    opacity: 0;
    }
    50% {
    opacity: 0.8;
    }
    100% {
    opacity: 0;
    }
}