.p1 {
    border-left: solid brown;
    border-bottom: solid yellow;
    border-right: solid navy;
    border-top: solid orange;
}

.p2 {
    border-left: solid;
    border-right: solid;
}

.p3 {
    border-top: solid rgb(229,43,80);
    border-left: dashed blue;
    border-right: dashed blue;
    border-bottom: dashed blue;
}

.p4 {
    border: 1px dotted orange;
}

.p5 {
    border-top: 2px solid navy;
    border-bottom: 2px solid navy;
    border-left: dashed darkred;
    border-right: dashed darkred;
}

.p6 {
    border: double #B3446C;
}

.p7 {
    border-top: 1px dashed #808000;
    border-bottom: 3px solid #FF7518;
}

.p8 {
    border-left: solid #CC7722;
    border-bottom: solid #CC7722;
}

.p9 {
    border-right: ridge #B5A642;
    border-top: ridge #B5A642;
}

.p10 {
    border-left: 5px dotted rgb(0,40,0);
    border-right: 5px dotted rgb(0,40,0);
    border-bottom: 5px dotted rgb(0,40,0);
}