ul li { 
    display: inline;
    float: left;
    zoom: 200%;
}
ul a {
    display: inline-block;
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    background-color: yellow;
    text-decoration: none;
    color: green;
}