.top {
    text-align: center;
    margin-top: 20px;
    zoom: 300%;
}

.bl1 {
    background-image: linear-gradient(to top, red, blue);
    display: inline-block;
    padding: 15px;
    margin-left: 10px;
    border: 1px solid black;
}
.bl2 {
    background-image: repeating-linear-gradient(45deg, red 3px, blue 2px, blue 7px, red 7px, red 11px, blue 11px);
    display: inline-block;
    padding: 15px;
    margin-left: 10px;
    border: 1px solid black;
}
.bl3 {
    background-image: radial-gradient(yellow, green);
    display: inline-block;
    padding: 15px;
    margin-left: 10px;
    border: 1px solid black;
}
.bl4 {
    background-image: repeating-radial-gradient(circle, green, green 12%, yellow 10%, yellow 18%);
    display: inline-block;
    padding: 15px;
    margin-left: 10px;
    border: 1px solid black;
}
.bl5 {
    background-image: radial-gradient(yellow 4px, green 50%, transparent 65%),linear-gradient(to bottom, blue, fuchsia);
    display: inline-block;
    padding: 15px;
    margin-left: 10px;
    border: 1px solid black;
}
.bl6 {
    background-image: linear-gradient(to right, yellow, green 50%, transparent 85%),linear-gradient(black, white 45%, white 60%, blue 70%, blue 80%, fuchsia 90%);
    display: inline-block;
    padding: 15px;
    margin-left: 10px;
    border: 1px solid black;
}

